.form__wrapper {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  color: rgb(0, 0, 0);
  transform: matrix(0, 0, 0, 0);
  display: flex;
  font-family: monospace;
  font-size: 20px;
}

.login__banner {
  position: relative;
  font-style: normal;
  font-weight: normal;
  font-size: 70px;
  margin-top: -5%;
  text-align: center;
  letter-spacing: 0.155em;
  color: #000000;
}

.left__box {
  height: 100%;
  background: rgb(250, 250, 250);
  width: 40%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}
.left_image {
  display: flex;
  size: 100%;
  height: 500px;
  left: 88px;
  margin-top: -5%;
  position: absolute;
  z-index: 0;
}

.left_color_back {
  size: 100%;
  height: 700px;
  left: 88px;
  display: flex;
}

.right_box {
  height: 100%;
  flex: 60%;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.profile_image {
  width: 200px;
  height: 175px;
  margin: 50px auto;
}

input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 90px;
  background: #f0f8ff00;
  border: black;
  border-block-width: 90px;
  border: 3px;
  border-style: solid;
  width: 75%;
  max-width: 500px;
  font-family: Crimson Text;
  font-size: 20px;
}

input[type="password"],
input[type="text"] {
  padding: 15px;
  margin: 15px;
  z-index: 99;
}

input[type="submit"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 90px;
  background: #0b99d1;
  width: 75%;
  max-width: 150px;
  font-family: monospace;
  border: 0;
  color: rgb(255, 255, 255);
  text-transform: uppercase;
  font-weight: 800 !important;
  font-size: 23px;
}

.remember-me {
  display: flex;
  flex-direction: row;
}

label {
  cursor: default;
  color: black;
  white-space: nowrap;
  margin: 0px 0px 4px 8px;
}

input[type="checkbox" i]::before {
  position: relative;
  display: block;
  width: 20px;
  height: 20px;
  content: "";
  background: #87d3eb;
}

input[type="checkbox" i]::after {
  position: relative;
  display: block;
  top: -20px;
  width: 20px;
  height: 20px;
  border-width: 1px;
  border-style: solid;
  border-color: black;
  content: "";
  background-repeat: no-repeat;
  background-position: center;
}

input[type="checkbox"]:checked:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #b1b6be 0%, #fff 100%);
}

input[type="checkbox"]:disabled:after {
  -webkit-filter: opacity(0.4);
}

input[type="checkbox"]:not(:disabled):checked:hover:after {
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAcAAAAHCAQAAABuW59YAAAACXBIWXMAAAsTAAALEwEAmpwYAAAAIGNIUk0AAHolAACAgwAA+f8AAIDpAAB1MAAA6mAAADqYAAAXb5JfxUYAAAB2SURBVHjaAGkAlv8A3QDyAP0A/QD+Dam3W+kCAAD8APYAAgTVZaZCGwwA5wr0AvcA+Dh+7UX/x24AqK3Wg/8nt6w4/5q71wAAVP9g/7rTXf9n/+9N+AAAtpJa/zf/S//DhP8H/wAA4gzWj2P4lsf0JP0A/wADAHB0Ngka6UmKAAAAAElFTkSuQmCC"),
    linear-gradient(135deg, #8bb0c2 0%, #fff 100%);
}

input[type="checkbox"]:not(:disabled):hover:after {
  background-image: linear-gradient(135deg, #8bb0c2 0%, #fff 100%);
  border-color: #85a9bb #92c2da #92c2da #85a9bb;
}

input[type="checkbox"]:not(:disabled):hover:before {
  border-color: #3d7591;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  border: 1px solid rgb(0, 0, 0);
  -webkit-text-fill-color: rgb(0, 0, 0);
  -webkit-box-shadow: 0 0 0px 1000px #a9cdef inset;
  transition: background-color 5000s ease-in-out 90s;
  font-family: "Courier New", Courier, monospace;
  font-weight: 500;
  font-size: 18px;
}

form {
  align-items: center;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
  place-content: center;
  align-content: center;
  justify-content: center;
}

::-webkit-input-placeholder {
  /* Edge */
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: red;
  display: flex;
  align-items: center;
  justify-content: center;
}

::placeholder {
  color: rgb(0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: medium;
  text-align: center;
}

@media screen and (max-width: 900px) {
  .right_box {
    justify-content: center;
  }
  .left_image {
    display: none;
  }
  .left_color_back {
    display: none;
  }
  .form__wrapper {
    background: #ffffff;
  }
  input[type="password"],
  input[type="text"] {
    padding: 12px;
    margin: 12px;
  }
  .login__banner {
    font-size: 50px;
  }

  .left__box {
    width: 0;
  }
}

@media screen and (max-width: 1177px) {
 
  .left_image {
    size: 100%;
    height: 384px;
    left: -48px;
    margin-top: -20%;
  }
}
