body {
  background-color: rgb(250, 250, 250);
}

.container {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.user_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: -15%;
}

.moh_user_container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-top: 15%;
}
